<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    {% if user.is_authenticated %}
        {% include 'auth_navbar.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    
    <div class="text-container">
        <h3 class="welcome-class">Welcome To CarShop WebSite |{{ user.username }}|</h3>
    </div>
    
</body>
</html>

<style>
    .welcome-class {
        text-align: center;
        margin-top: 5%;
    }

    .text-container {
        border: 2px solid whitesmoke;
        margin: 20px;
        padding: 0;
        width: 400px;
        color: blueviolet;
        border-radius: 30px;
        background-color: lightseagreen;
        text-align: center;
    }
</style>
